# MODULEDK_NOTEBOOK

Hello, this is my notebook exercise for peer review

ex4  
This is a list of data science languages:
1. R
2. Python
3. SQL

ex5  
This is a list of data science libraries:
1. Numpy
2. Scipy
3. Scikit-Learn
4. Pandas
5. Matplotlib
6. Seaborn

ex6    
This is a table of data science tools:

| Column Number | DS Tool
| --- | ---
| 1 | Spark
| 2 | Matlab
| 3 | Jupyter
| 4 | Knime
| 5 | Tableau

ex7  
This is an example of arithmetic expression:  
$$
1 + 2 = 3
$$

In [18]:
# ex8

def add_number(a,b):
    return a+b

def mul_number(a,b):
    return a*b


print("add: ", add_number(1,2))
print("multiply: ", mul_number(1,2))

add:  3
multiply:  2

In [33]:
# ex9

def min_2_hour(min):
    if min%60==0:
        h = min//60
    else:
        h = round(min/60,5)
        
    return h

print(f"60min = {min_2_hour(60)}h")
print(f"61min = {min_2_hour(61)}h")

60min = 1h
61min = 1.01667h

ex10

# Objectives

## 1. Use Python for Data Science
- Overview of Python
- Install Python
- Use Python for Data Science

## 2. Use R for Data Science
- Overview of R
- Install R
- Use R for Data Science

ex11

# Markdown of author name

**Author:** moduledk